<div class="ui three column grid container">
  <div class="column"></div>
  <div class="column">
    <form class="ui centered raised small form segment">
      <form class="ui form" *ngIf="!authService.getUser()">
        <h1>Login</h1>
        <div class="alert alert-danger" role="alert" *ngIf="message">
          <h3>{{ message }}</h3>
        </div>
        <div class="field">
          <label>Username</label>
          <input type="text" name="username" #username placeholder="username">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="text" name="password" #password placeholder="password">
        </div>
        <button class="ui button" (click)="login(username.value, password.value)" type="submit">Submit</button>
      </form>
      <div class="well" *ngIf="authService.getUser()">
        Logged in as
        <b>{{ authService.getUser() }}</b>
        <a href (click)="logout()">Log out</a>
      </div>
    </form>
  </div>
</div>