<div class="ui three column grid container">
  <div class="column"></div>
  <div class="column">
    <form class="ui raised small form segment">
      <div class="ui grid container">
        <div class="wide column">
          <div class="ui search" (click)="onSelection()" (keyup)="onTyping()">
            <div class="ui fluid icon input">
              <input class="prompt" type="text" id="college" placeholder="Search for videos...">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
        </div>
      </div>
    </form>
  </div>