<div class="ui container">
  <div class="ui equal width grid">
    <div class="row">
      <div class="ui fixed inverted menu">
        <div class="ui container">
          <a [routerLink]="['/home']" class="item">
            <img class="logo" src="assets/images/Yt2logo.png">
          </a>
          <a [routerLink]="['/home']" class="item">
            <i class="home icon"></i>
            Home</a>
          <a [routerLink]="['/upload']" class="item">
              <i class="cloud upload icon"></i>
            Upload</a>
        </div>
      </div>
    </div>
    <div class="row"></div>
    <router-outlet></router-outlet>
  </div>
</div>