<div class="row"></div>
<div class="row" *ngIf="results">
  <div class="ui two column centered grid">
    <div class="column">
      <h5 style="text-align: center; font-size: 50px">{{results[videoID-1].title}}</h5>
      <app-video-player [videoID]="videoID"></app-video-player>
      <br>
      <i class="calendar icon" style="padding: 10px"></i> October 27, 2017
      <i class="id badge icon" style="padding: 10px"></i> James Harrell
      <br>
      <br>
      {{results[videoID-1].description}}
    </div>
  </div>
</div>
