<div class="ui one column centered grid" *ngIf="results">
    <div class="row"></div>
    <div style="font-family:helvetica; font-size:160%">
        {{results[videoID-1].title}}
    </div>
    <div class="column">
        <app-video-player [videoID]="videoID"></app-video-player>
        <div class="row">
            <div class="ui icon message">
                <i class="tv icon"></i>
                <div class="content">
                    <div class="ui five column grid">
                        <div class="column">
                            <a class="ui image label">
                                <img src="./../../assets/images/male-avatar-1.png"> {{results[videoID-1].username}}
                            </a>
                            <div class="ui label">
                                views
                                <div class="detail">{{results[videoID-1].playCount}}</div>
                            </div>
                        </div>

                        <div class="column"></div>
                        <div class="column"></div>
                        <div class="column"></div>
                        <div class="column">
                            <div class="ui right labeled button" tabindex="0">
                                <div class="ui tiny red button">
                                    <i class="heart icon"></i> Like
                                </div>
                                <a class="ui basic red left pointing label">
                                    {{results[videoID-1].playCount}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <p>{{results[videoID-1].description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>